
@font-face {
  font-family: Nunito-SemiBoldItalic;
  src: url(./Nunito/Nunito-SemiBoldItalic.ttf);
}
@font-face {
  font-family: Nunito-SemiBold;
  src: url(./Nunito/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: Nunito-Regular;
  src: url(./Nunito/Nunito-Regular.ttf);
}
@font-face {
  font-family: Nunito-MediumItalic;
  src: url(./Nunito/Nunito-MediumItalic.ttf);
}
@font-face {
  font-family: Nunito-Medium;
  src: url(./Nunito/Nunito-Medium.ttf);
}
@font-face {
  font-family: Nunito-LightItalic;
  src: url(./Nunito/Nunito-LightItalic.ttf);
}
@font-face {
  font-family: Nunito-Light;
  src: url(./Nunito/Nunito-Light.ttf);
}
@font-face {
  font-family: Nunito-Italic;
  src: url(./Nunito/Nunito-Italic.ttf);
}
@font-face {
  font-family: Nunito-ExtraLightItalic;
  src: url(./Nunito/Nunito-ExtraLightItalic.ttf);
}
@font-face {
  font-family: Nunito-ExtraLight;
  src: url(./Nunito/Nunito-ExtraLight.ttf);
}
@font-face {
  font-family: Nunito-ExtraBoldItalic;
  src: url(./Nunito/Nunito-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: Nunito-ExtraBold;
  src: url(./Nunito/Nunito-ExtraBold.ttf);
}
@font-face {
  font-family: Nunito-BoldItalic;
  src: url(./Nunito/Nunito-BoldItalic.ttf);
}
@font-face {
  font-family: Nunito-Bold;
  src: url(./Nunito/Nunito-Bold.ttf);
}
@font-face {
  font-family: Nunito-BlackItalic;
  src: url(./Nunito/Nunito-BlackItalic.ttf);
}
@font-face {
  font-family: Nunito-Black;
  src: url(./Nunito/Nunito-Black.ttf);
}