@import '../../../assets/mixins/responsive_font.scss';

.usersList {
    margin: 0 auto;
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    max-width: 1920px;

    .frame {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .tableWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .collored {
            color: var(--color);

            &[data-active="true"] {
                color: var(--green);
            }
            &[data-active="false"] {
                color: var(--red);
            }
        }
    }
}